body {
    background-color:black;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.text {
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: left; 
}

.definition {
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center; 
    margin-top: 30vh
}

.clickable_eng {
    display: inline-block;
    color:peachpuff;
    text-decoration:none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

.clickable_def {
    display: inline-block;
    color:peachpuff;
    text-decoration:none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

.clickable {
    display: inline-block;
    color:peachpuff;
    text-decoration:none;
}

.title {
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: left;   
    font-weight: bold;
}

.column {
    column-count: 2;
    column-gap: 20px;
    column-width: 100px;
    column-rule-width: thin;
    column-rule-color: white;
}

.column_eng {
    column-count: 2;
    column-gap: 40px;
    column-width: 100px;
    column-rule-width: thin;
    column-rule-color: white;
}
